<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>A Pen by  wandallin</title>
  
  
  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>

      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>
  
<div id="app">
  <div class="head">
    <div class="date"><i class="fa fa-bars"></i>
      <p>{{title}}</p>
    </div>
    <div class="buttons">
      <button class="search"><i class="fa fa-search"></i></button>
      <button class="detail"><i class="fa fa-bars"></i></button>
      <button class="cal"><i class="fa fa-calendar-o"></i></button>
    </div>
  </div>
  <div class="calendar">
    <div class="top">
      <div class="first"></div>
      <div v-for="week in weeks">{{week.day}}
        <p>{{week.num}}</p>
      </div>
    </div>
    <div class="detail" v-for="time in times">
      <div class="first">
        <p>{{time}}</p>
      </div>
      <div v-for="week in weeks"> 
        <div v-on:click="selected=time+week.dayClass" :class="selected==time+week.dayClass?'active':''">
          <div class="work" v-for="work in works[time+week.dayClass]" v-bind:style="{background: work.color, height: work.length}">{{work.name}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="add">
    <svg id="pic1" viewbox="-50 -50 100 100">
      <line x1="-20" y1="0" x2="20" y2="0"></line>
      <line x1="0" y1="-20" x2="0" y2="20"></line>
    </svg>
  </div>
</div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js'></script>

    <script src="js/index.js"></script>

</body>
</html>
