<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>A Pen by  wandallin</title>
  
  
  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>

      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>
  
<div id="app">
  <div class="head">
    <div class="date"><i class="fa fa-bars"></i>
      <p>{{title}}</p>
    </div>
    <div class="buttons">
      <button class="search"><i class="fa fa-search"></i></button>
      <button class="detail"><i class="fa fa-bars"></i></button>
      <button class="cal" v-on:click="show_free"><i class="fa fa-calendar-o"></i></button>
    </div>
  </div>
  <div class="calendar">
    <div class="top">
      <div class="first"></div>
      <div v-for="week in weeks">{{week.day}}
        <p v-bind:class="{active: dayNow==week.num}">{{week.num}}</p>
      </div>
    </div>
    <div class="detail" v-for="time in times">
      <div class="first">
        <p>{{time}}</p>
      </div>
      <div v-for="week in weeks"> 
        <div v-on:click="selected=time+week.dayClass" :class="selected==time+week.dayClass?'active':''">
          <div class="work" v-for="work in works[time+week.dayClass]" v-bind:style="{background: work.color, height: work.length}">{{work.name}}</div>
          <svg id="pic2" viewbox="-50 -50 100 100" v-bind:class="{active: showFree &amp;&amp; works[time+week.dayClass]==undefined}">
            <line x1="-20" y1="0" x2="20" y2="0"></line>
            <line x1="0" y1="-20" x2="0" y2="20"></line>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <div class="add" v-on:click="showAdd">
    <svg id="pic1" viewbox="-50 -50 100 100">
      <line x1="-20" y1="0" x2="20" y2="0"></line>
      <line x1="0" y1="-20" x2="0" y2="20"></line>
    </svg>
  </div>
  <div class="form" v-bind:class="{active: showAd}">
    <div class="bg"></div>
    <div class="in">
      <h3>事件</h3>
      <input name="name" v-model="newtodo.name" placeholder="輸入事件"/>
      <h3>時間</h3>
      <input name="len" v-model="newtodo.len" placeholder="輸入小時數"/>
      <h3>顏色</h3>
      <select v-model="newtodo.color">
        <option v-for="color in colors">{{color}}</option>
      </select>
      <div class="color" v-bind:style="{background: newtodo.color}"></div><br/>
      <button type="submit" v-on:click="addnote">儲存</button>
      <button type="submit" v-on:click="showAdd">取消</button>
    </div>
  </div>
</div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js'></script>

    <script src="js/index.js?1222"></script>

</body>
</html>
